<section class="new-training" fxLayout fxLayoutAlign="center">
    <form (ngSubmit)="onStartTraining(newTrainingForm)" #newTrainingForm="ngForm">
        <mat-card fxFlex.xs="100%" fxFlex="400px" fxLayout="column" fxLayoutGap="30px">
            <!-- fxLayout below is not required. when fxLayoutAlign is used, row is the default fo fxLayout -->
            <mat-card-title fxLayout fxLayoutAlign="center">Time To Start A Workout</mat-card-title>
            <mat-card-content fxLayoutAlign="center">
                <mat-form-field *ngIf="!isLoading; else spinner">
                    <mat-label>Select An Exercise</mat-label>
                    <mat-select placeholder="Choose an exercise" ngModel name="exercise" required>
                        <mat-option *ngFor="let exercise of availableExercises" [value]="exercise.id">
                            {{ exercise.name }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <ng-template #spinner>
                    <mat-spinner></mat-spinner>
                </ng-template>
            </mat-card-content>
            <mat-card-actions fxLayoutAlign="center">
                <button mat-stroked-button [disabled]="newTrainingForm.invalid">Start</button>
            </mat-card-actions>
        </mat-card>
    </form>
</section>
