<mat-toolbar color="primary">
    <div fxHide.gt-xs>
        <!--  fxHide.sm fxHide.md fxHide.lg fxHide.xl hide menu button on sm...xl devices = fxHide.gt-xs hide when greater than xs -->
        <button mat-icon-button (click)="onToggleSidenav()">
            <mat-icon>menu</mat-icon>
        </button>
    </div>
    <div><a routerLink="/">LOGO</a></div>
    <!-- <div fxFlex></div> Also solves the problem of moving the links to the end of the toolbar -->
    <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
        <!-- Flex to fill available space, layout row and move to flex end -->
        <!-- Hidden on eXtra Small deviced -->
        <ul fxLayout fxLayoutGap="15px" class="navigation-items">
            <li><a routerLink="/signup">Signup</a></li>
            <li><a routerLink="/login">Login</a></li>
            <li><a routerLink="/training">Training</a></li>
            <li>Logout</li>
        </ul>
    </div>
</mat-toolbar> <!-- Toolbar uses flexbox with main axis in row direction -->
