mat-form-field {
    width: 300px; //looks cool on pc and mobile
}

//#region Flex Layout Example
#container {
    display: flex;
    width: 90%;
    height: 400px;
    border: 1px solid black;
    flex-direction: row; //main axis in horizontal direction
    justify-content: center; //aligns according to the main axis
    align-items: center; //aligns according to the cross axis
}

.child {
    width: 200px;
    height: 200px;
    // flex: 1; //Uses all the available space in the main axis direction
}

#child1 {
    background-color: red;
    // flex: 2; //double size compared to flex 1
}

#child2 {
    background-color: blue;
}

#child3 {
    background-color: green;
}
//#endregion
