<mat-sidenav-container>
    <mat-sidenav #sidenav role="navigation">
        <fit-sidenav-list (closeSidenav)="sidenav.close()"></fit-sidenav-list>
    </mat-sidenav>

    <mat-sidenav-content>
        <fit-header (sidenavToggle)="sidenav.toggle()"></fit-header>
        <main>
            <router-outlet></router-outlet>
        </main>
    </mat-sidenav-content>
</mat-sidenav-container>


<!-- Sidenav Container, Content and Sidenav not recommended to be in different components. The content inside can be other component -->
